
<!-- Seccion arriba simulacion celular -->
<div class="toolbar-superior">
<!-- Traffic Lights (Cerrar, Minimizar, Maximizar) -->
<div class="traffic-lights">
  <div class="light close"></div>
  <div class="light minimize"></div>
  <div class="light fullscreen"></div>
</div>
<!-- Search Bar -->
<div class="search-bar">
  <span class="lock-icon">🔒</span>
  <span class="search-text">Buscar o ingresar dirección</span>
</div>
<!-- Botones de navegación -->
<div class="toolbar-group">
  <div class="toolbar-item back"></div>
  <div class="toolbar-item forward"></div>
  <div class="toolbar-item reload"></div>
  <div class="toolbar-item share"></div>
</div>
<!-- Otros botones -->
<div class="extra-toolbar-group">
  <div class="toolbar-item tab-overview"></div>
  <div class="toolbar-item sidebar"></div>
</div>
</div>



<!-- menu superior -->
<app-menu-superior></app-menu-superior>
<!-- menu superior -->
      
<!-- zona video -->
<app-seccion-video></app-seccion-video>
<!-- zona video -->

<!--  seccion-estancias-->
<app-seccion-estancias></app-seccion-estancias>
<!--  seccion-estancias-->

<!-- seccion caratulas -->
<app-seccion-caratulas></app-seccion-caratulas>
<!-- seccion caratulas -->
  <app-seccion-explora></app-seccion-explora>

<!-- seccion coleccion -->
<app-seccion-colleccion></app-seccion-colleccion>
<!-- seccion coleccion -->

<!-- seccion testimonios  -->
<app-seccion-testimonios></app-seccion-testimonios>
<!-- seccion testimonios  -->

<!-- seccion propietarios -->
<app-seccion-propietarios></app-seccion-propietarios>
<!-- seccion propietarios -->

<!-- seccion unete -->
<app-seccion-hero></app-seccion-hero>
<!-- seccino unete -->

<!-- seccion footer -->
<app-seccion-footer></app-seccion-footer>
<!-- seccion footer -->



  