<div class="collection-section">
    <div class="collection-container">
      <div class="collection-header">
        <h1>La colección</h1>
        <p class="collection-description">Nuestra Colección Exclusiva reúne las propiedades más impresionantes, aquellas que destacan por su diseño, ubicación y detalles únicos.</p>
      </div>
      
      <div class="collection-items">
        <div class="collection-item" style="background-image: url('../../assets/img/golf.jpg')">
          <span class="item-name">Golf lovely</span>
          
        </div>
        <div class="collection-item" style="background-image: url('../../assets/img/celebration.jpg')">
          <span class="item-name">Sombrido románico</span>
        </div>
        <div class="collection-item" style="background-image: url('../../assets/img/mujer.jpg')">
          <span class="item-name">Crane-golub plane</span>
        </div>
        <div class="collection-item" style="background-image: url('../../assets/img/amigos.jpg')">
          <span class="item-name">Vicios</span>
        </div>
      </div>
      
      <div class="collection-divider"></div>
      
      <button class="collection-button">Ver todas las colecciones</button>
    </div>
    </div>